  <div class="card text-center">
    <br>
    <img class="card-img-top align-self-center" style="max-width: 70%" [src]="contact.imagePath" alt="Contact picture should be here...">
    <div class="card-body">
      <h5 class="card-title">{{contact.name}}</h5>
      <p class="card-text">{{contact.description}}</p>
    </div>

    <div class="row align-self-center">
      <div class="col-12 justify-content-center">
        <div class="btn-group"
             role=group>
          <button type="button"
                  class="btn btn-primary">Meet</button>
          <button type="button"
                  class="btn btn-secondary"
                  (click)="onEditContact()">Edit</button>
          <button type="button"
                  class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
    <br>
  </div>
